{% extends 'base.html' %}

<!-- Header and banner combined  -->
{% block header %} {% include "header.html" %} {% endblock header %}
<!-- Header and banner done  -->

{% block content %}    
<!-- Account Page  -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                {{setting.about|safe}}
            </div>
            <div class="col-2">
                {{setting.about2|safe}}
            </div>
        </div>
    </div>
</div>
<!-- Account Page Done  -->
{% endblock content %}

<!-- footer  -->
{% block footer %} {% include "footer.html" %} {% endblock footer %}
<!-- footer ends here  -->
