<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{{offer.image.url}}" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Aavailable at Prodigious Store</p>
                <h1>Lingerie </h1>
                <small>
                    Our range of women's lingerie is a must have in any underwear drawer. 
                    So, get ready to impress while you undress with the best range of lingerie.
                </small>
                <a href="cart.html" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>