{% extends 'base.html' %}



{% block title %} User Account {% endblock title %}

{% block keywords %} {{setting.keywords}} {% endblock keywords %}

{% block description %} {{setting.description}} {% endblock description %}
    

        

<!-- Header and banner  -->
{% block header %} {% include "acheader.html" %} {% endblock header %}
<!-- Header and banner done  -->

<!-- Content  -->
{% block content %}  

   <!-- Account Page  -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{banner.image.url}}" width="100%">
                </div>
                <div class="col-2">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-{{message.tags}}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-container" style="height: 500px;">
                        <div class="form-buttons">
                            <span onclick="login()">Login</span> 
                            <span onclick="register()">Register</span>
                            <hr id="Indicator"> 
                        </div>
                        <form id="LoginForm" action="{% url 'loginform' %}" method="POST">
                        {% csrf_token %}                          
                            <input type="text" placeholder="Username" name="username">                                
                            <input type="password" placeholder="Password"  name="password">
                            <button type="submit" class="buttons">Login</button>
                            <a href="">Forgot Password?</a>
                        </form>
                        <form id="RegForm" action="{% url 'registerform' %}" method="POST">
                        {% csrf_token %}
                            <input type="text" placeholder="First Name" name="first_name">
                            <input type="text" placeholder="Last Name" name="last_name">
                            <input type="text" placeholder="Username" name="username">
                            <input type="email" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password1">
                            <input type="password" placeholder="Repeat Password" name="password2">
                            <button type="submit" class="buttons">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- Account Page Done  -->

   {% endblock content %}                       
   <!-- Content done  -->

   <!-- footer   -->
   {% block footer %}  {% include "footer.html" %} {% endblock footer %}
   <!-- footer done  -->

   